::selection {
  background-color: orange;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #e53e3e;
  font-weight: bold;
}

.m-t {
  margin-top: 8%;
}

.bg-orange {
  background-color: #f6d18b;
}

.shadow {
  box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.text-orange {
  color: #ff6600;
}

.fontStats {
  font-size: 1.7rem;
}

.border-orange {
  border-color: #ff6600 !important;
}

.marginDivider {
  margin: 0 20px;
}

.fontLabel {
  font-size: 1.3rem;
  font-weight: 400;
}

.bg-green {
  background-color: #c6f6d5;
}

.text-green {
  color: #38a169;
}

.border-green {
  border-color: #38a169 !important;
}

.bg-red {
  background-color: #fed7d7;
}

.text-red {
  color: #e53e3e;
}

.border-red {
  border-color: #e53e3e !important;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: static;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

td a {
  color: #000;
  text-decoration: none;
}

.tableHeight {
  height: 550px;
  overflow: auto;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

th {
  background-color: #fff;
}

.nav-col {
  background-color: #fff;
}

.brand {
  font-family: "Black Han Sans", sans-serif;
}

.table-margin {
  margin-top: 5%;
}

@media (min-width: 280px) {
  .m-t {
    margin-top: 25%;
  }
}

@media (min-width: 320px) {
  .m-t {
    margin-top: 25%;
  }
}

@media (min-width: 360px) {
  .m-t {
    margin-top: 25%;
  }

  .table-margin {
    margin-top: 10%;
  }
}

@media (min-width: 411px) {
  .m-t {
    margin-top: 20%;
  }
}

@media (min-width: 767px) {
  .m-t {
    margin-top: 15%;
  }

  .table-margin {
    margin-top: 10%;
  }
}

@media (min-width: 1023px) {
  .m-t {
    margin-top: 10%;
  }

  .table-margin {
    margin-top: 7%;
  }
}
